<nav class="navbar navbar-expand-sm bg-secondary navbar-dark" >
  <ul class="navbar-nav">
    <li class="justify-content-end">
      <a routerLink="home" class="nav-link" routerLinkActive="active"><img src="https://i.ibb.co/1nT4bzL/logo-White.png"></a>
    </li>
    <li class="nav-item">
      <a routerLink="courses" class="nav-link move_down" routerLinkActive="active">Courses List</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link move_down" routerLinkActive="active">Add Course</a>
    </li>
    
  </ul>
</nav>

<div class="container">
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>