  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
  </div>
  
  <table class="table">
    <thead>
        <tr>
          <th>Video</th>
          <th>Name</th>
          <th>Technologies</th>
          <th>Level</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of course |async | filter:term">
          <img src="https://img.youtube.com/vi/{{c.coverPhoto}}/default.jpg"(click)="watchCourse(c.id)">
          <td>{{c.name}}</td>
          <td>{{c.technologies}}</td>
          <td>{{c.level}}</td>
          <td>
          <button (click)="watchCourse(c.id)" class="btn btn-success" style="margin-left: 10px">Watch</button>
          <button (click)="courseDetails(c.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
        </tr>
    </tbody>
  </table>