html{
    font-family: 'Tenali Ramakrishna', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
  }

img{
    object-fit: cover;
    width: 300px;
    height: 100px;
  }
  p{
     font-size : 18px;
     margin-left: 10px;
     margin-right: 10px;
     text-align: center;
  }