<h1 class="center">Welcome on our CoursesTracker website!</h1>
<div class="center"><img src="https://i.ibb.co/42tZm94/logo-Black.png"></div>

<br>
<p class="center"> Here you can track your courses without need to remember them all.</p> 
<p class="center"> After completing you can just delete them from the list. You can also watch all the videos right from our website, it's that simple!</p>
<p class="center">To check your current courses click: </p>
<a href="courses" role="button" class="btn btn-outline-secondary btn-lg center"> Take me to my Courses </a>

